body{
    background-color: beige;
}
ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    margin: 0 40px;
}
header ul li a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
footer{
    background-color: #F55649;
    position:absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.cabeçalho li a{
    font-size: 13px;
    border-radius: 5px;
    padding: 10px 10px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    
}
.cabeçalho li a:hover{
    background-color: #F55649;

}
input:focus{
    background-color: rgb(209, 209, 209);

}

.livro {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.livro img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}