body{
    background-color: #c9dbc4;
}
ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    margin: 0 40px;
}
header ul li a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}
.cabeçalho li a{
    font-size: 13px;
    border-radius: 5px;
    padding: 10px 10px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}
.cabeçalho li a:hover{
    background-color: #F55649;

}
input:focus{
    background-color: rgb(243, 240, 240);

}
fieldset{
    width: 40%;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 20px;
    margin: 0px auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px;
    background-color: #dfddf8f1;
}
em{
    color: red;
}
.formulário{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
input[type=text]{
    padding: 12px 20px;
    margin: 3px 0;
    width: 81%;
}
input[type=E-mail]{
    padding: 12px 20px;
    margin: 3px 0;
    width: 78%;
}
input[type=tel]{
    padding: 12px 20px;
    margin: 3px 0;
    width: 78%;
}

textarea{
    padding: 12px 20px;
    margin: 3px 0;
    width: 95%;
    border-radius: 20px;
}

.footer{
    background-color: #F55649;
    padding: 35px 0 20px;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
}
.footer.footer .containers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer.footer .containers > div{
    flex-basis: 0;
    flex-grow: 1;
    padding: 1rem 0.9rem;
}
.Atendimento a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: black;
}
.footer h2 {
    color: black;
    font-size: 25px;
}
.footer p{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
.footer img{
    margin-left: 15px;
    display: block;
    width: 280px;
    height: 200px;
    border-radius: 4px;
}
.Atendimento a:hover {
    color: #f5eeee;
    font-size: 22px;
  } 
.copy{
    text-align: center;
    color: beige;
}
.Redessociais a{
    align-items: center;
    color: white;
}
.Redessociais .fa-whatsapp{
    width: 17px;
    height: 0px;
    line-height: 75px;
    margin: 0px 2px 0;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}
.Redessociais .fa-whatsapp:hover{
    transform: translateY(-9px);
}
.Redessociais .fa-facebook-f{
    width: 17px;
    height: 0px;
    line-height: 40px;
    margin: 0px 2px 0;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}
.Redessociais .fa-facebook-f:hover{
    transform: translateY(-9px);
}
.Redessociais .fa-instagram{
    width: 17px;
    height: 0px;
    line-height: 40px;
    margin: 0px 2px 0;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}
.Redessociais .fa-instagram:hover{
    transform: translateY(-9px);
}
.Redessociais .fa-github{
    width: 17px;
    height: 0px;
    line-height: 40px;
    margin: 0px 2px 0;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}
.Redessociais .fa-github:hover{
    transform: translateY(-9px);
}


.livro {
    display:block;
    justify-content: center;
    margin-left: 100px; 
    margin-right: 100px;
    border: 2px solid hsl(0, 11%, 7%);
    padding: 10px;
    margin-bottom: 6px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;

}

.livro img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

/*Cadastro*/

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff9f;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9dad3;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}
.login-button button {
    border: none;
    background-color: #ff6363;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #ff6363;
}
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff6363;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6060ee;
}
.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #ff6363;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #ff6663;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffffff;
}
/*entrada de código aberto*/
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   /*paginainicial*/
   .conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #0f0905;
  }
  
  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .conteudo-principal-escrito-titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 64px;
    color: #0f0905;
  }
  
  .conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #d91e1e;
  }
  
  .agradecimentos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    font-size: 20px;
    font-weight: 80;
  }
  
.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #FFF2EF;
    margin-bottom: 16px;
  }
  
  .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
  }  

  /* Livros em ofertas */
  .Ofertas{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size:30px ;
    font-weight: 300;
  }
    a{
        text-decoration: none;
    }
    
    .book {
        
        display: inline-block;
        margin: 0 20px;
        text-align: center;
        border: outset;
        
    }
    
    .book img {
        max-width: 70%;
    }
    
    .book h3 {
        font-size: 1.2rem;
        margin: 10px 0;
    }
    .price {
        color: #f00;
        font-weight: bold;  
    }
   .Destaques{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size:30px ;
    font-weight: 300;
   }
    .galeria{
        width: 85%;
        height: 60vmin;
        display: flex;
        gap: 5px;
        margin: 100px;
    }
    .galeria img{
        height: 70%;
        flex: 1;
        object-fit: cover;
        overflow: hidden;
        cursor: pointer;
        border: groove;
        transition: all 0.3s;
       
    }
    .galeria img:hover{
        flex: 4;
    }


