body{
    background-color: beige;
}
ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    margin: 0 40px;
}
header ul li a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
footer{
    background-color: #F55649;
    position:absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.cabeçalho li a{
    font-size: 13px;
    border-radius: 5px;
    padding: 10px 10px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    
}
.cabeçalho li a:hover{
    background-color: #F55649;

}
input:focus{
    background-color: rgb(243, 240, 240);

}
fieldset{
    width: 40%;
    border: 1px black solid;
    border-radius: 10px;
    margin: 0px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
em{
    color: red;
}
.formulário{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input[type=text]{
    padding: 12px 20px;
    margin: 3px 0;
    width: 80%;
}
input[type=E-mail]{
    padding: 12px 20px;
    margin: 3px 0;
    width: 78%;

}
textarea{
    padding: 12px 20px;
    margin: 3px 0;
    width: 80%;
    border-radius: 20px;
}

.livro {
    border: 2px solid hsl(0, 3%, 6%);
    padding: 10px;
    margin-bottom: 5px;
   

}

.livro img {
    max-width: 200px;
    display:block;
    margin: 0 auto;
    height: 300px;
}
/*cadastro*/

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
.login {
    max-width: 400px;
    margin: 0 auto;
}
label, input, textarea {
    display: block;
    margin: 0;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}